@import "tailwindcss";

@theme inline {
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--color-rose-500);
}

:root {
  --bar-timing: ease-in-out infinite;
  --background: #030303;
  --foreground: #d6e9ef;
  --primary: #d6e9ef;
  --secondary: #6e7681;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-y {
  0%,
  100% {
    transform: scaleY(var(--scale-min));
  }
  50% {
    transform: scaleY(var(--scale-max));
  }
}

.fade-in {
  animation: fade-in 300ms ease-in forwards;
}

.animate-bar-1 {
  --scale-min: 0.8;
  --scale-max: 1;
  animation: scale-y 1.4s var(--bar-timing);
}

.animate-bar-2 {
  --scale-min: 0.9;
  --scale-max: 0.7;
  animation: scale-y 1.6s var(--bar-timing);
}

.animate-bar-3 {
  --scale-min: 0.85;
  --scale-max: 0.75;
  animation: scale-y 1.2s var(--bar-timing);
}
